* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#search {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 15px;
}

#names {
   display: grid;
   grid-template-columns: 240px 240px 240px 240px;
   grid-template-rows: 200px 200px 200px 200px;
   grid-gap: 2.2rem;
   margin: 1.9rem;
   list-style: none;
   
}

@media (min-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

} 



