* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.search {
    text-align: center;
    width: 60%;
    padding: 15px;
    margin: 25px;
}
.photos {
    
   display: grid;
   grid-template-columns: 200px 200px 200px 200px;
   grid-template-rows: 200px 200px 200px 200px;
   grid-gap: 35px;
   margin-left: 20px;
   
}

/**.photos:hover {
    transform: scale(1.1);
}
/** @media **/