#search {
    text-align: center;
    width: 60%;
    padding: 15px;
    margin: 25px;
}
#names {
    
   display: grid;
   grid-template-columns: 200px 200px 200px 200px;
   grid-template-rows: 200px 200px 200px 200px;
   grid-gap: 35px;
   margin-left: 20px;
   list-style: none;
   
}


/* @media (min-width: 600px) {
.container {
    display: flex;
    flex-direction: row;
}
} */ 

